{% if not theme.settings.hide_header_social_icons %}
    <div class="nav-social">
        <div class="row no-gutters align-items-center justify-content-between">
            {% if theme.settings.social_facebook_link %}
                <div class="col-auto pl-4 mt-3 mb-3">
                    <a class="{% if section_secondary %}h-sc-color{% endif %} text-center" rel="noreferrer" aria-label="facebook" target="_blank" href="{{ theme.settings.social_facebook_link }}">
                        <i class="icon"><span class="icon-facebook"></span></i>
                    </a>
                </div>
            {% endif %}
            {% if theme.settings.social_twitter_link %}
                <div class="col-auto pl-4 mt-3 mb-3">
                    <a class="{% if section_secondary %}h-sc-color{% endif %} text-center" rel="noreferrer" aria-label="twitter" target="_blank" href="{{ theme.settings.social_twitter_link }}">
                        <i class="icon"><span class="icon-twitter"></span></i>
                    </a>
                </div>
            {% endif %}
            {% if theme.settings.social_instagram_link %}
                <div class="col-auto pl-4 mt-3 mb-3">
                    <a class="{% if section_secondary %}h-sc-color{% endif %} text-center" rel="noreferrer" aria-label="instagram" target="_blank" href="{{ theme.settings.social_instagram_link }}">
                        <i class="icon"><span class="icon-instagram"></span></i>
                    </a>
                </div>
            {% endif %}
            {% if theme.settings.social_pinterest_link %}
                <div class="col-auto pl-4 mt-3 mb-3">
                    <a class="{% if section_secondary %}h-sc-color{% endif %} text-center" rel="noreferrer" aria-label="pinterest" target="_blank" href="{{ theme.settings.social_pinterest_link }}">
                        <i class="icon"><span class="icon-pinterest"></span></i>
                    </a>
                </div>
            {% endif %}
            {% if theme.settings.social_youtube_link %}
                <div class="col-auto pl-4 mt-3 mb-3">
                    <a class="{% if section_secondary %}h-sc-color{% endif %} text-center" rel="noreferrer" aria-label="youtube" target="_blank" href="{{ theme.settings.social_youtube_link }}">
                        <i class="icon"><span class="icon-youtube"></span></i>
                    </a>
                </div>
            {% endif %}
            {% if theme.settings.social_linkedin_link %}
                <div class="col-auto pl-4 mt-3 mb-3">
                    <a class="{% if section_secondary %}h-sc-color{% endif %} text-center" rel="noreferrer" aria-label="linkedin" target="_blank" href="{{ theme.settings.social_linkedin_link }}">
                        <i class="icon"><span class="icon-linkedin"></span></i>
                    </a>
                </div>
            {% endif %}
            {% if theme.settings.social_telegram_link %}
                <div class="col-auto pl-4 mt-3 mb-3">
                    <a class="{% if section_secondary %}h-sc-color{% endif %} text-center" rel="noreferrer" aria-label="linkedin" target="_blank" href="{{ theme.settings.social_linkedin_link }}">
                        <i class="icon" style="max-width: 1.8rem;">
                            {{ 'img/telegram.svg' | svg }}
                        </i>
                    </a>
                </div>
            {% endif %}
        </div>
    </div>
{% endif %}