{# options #}
{% set method = theme.settings.product_price_type %}
{% set parcel = theme.settings.price_parcel ?: false %}
{% set feature = theme.settings.price_feature ?: 'billet' %}

{# payments #}
{% set discount = product.price_compare %}
{% set billet = product.payments.billet %}
{% set creditcard = product.payments.creditcard %}

{% if parcel %} 
    {% set creditcard = product.payments.creditcard.max_installment %}
{% endif %}

<div class="product-card-price m-{{ method }} {% if method == 'creditcard' or method == 'iconsmethods' %} f-{{ feature }} mb-0 {% endif %}">
    {% if method == 'final' %}
        {% if discount > 0 %}
            <div class="discount">{{ discount | currency }}</div>
        {% endif %}
        <div class="price">{{ product.price | currency }}</div>
    {% endif %}

    {% if billet and method != 'only_creditcard' and method != 'final' %}
        <div class="billet">
            <div class="icon">
                {{ 'img/dc-icons/barcode.svg' | svg }}
            </div>

            <div class="product-price-final">
                {% if discount > 0 %}
                    <span class="text discount">{{ discount | currency }}</span>
                {% endif %}
                <span class="price total">{{ billet.total | currency }}</span>
                <span class="text">no boleto</span>
            </div>
        </div>
    {% endif %}

    {% if creditcard and method != 'billet' and method != 'final' %}
        <div class="creditcard">
            <div class="icon">
                {{ 'img/dc-icons/creditcard.svg' | svg }}
            </div>

            <div class="product-price-final">
                {% if discount > 0 %}
                    <span class="discount">{{ discount | currency }}</span>
                {% endif %}
                
                <div class="installments">
                    <span class="price total">{{ creditcard.total | currency }}</span>

                    <span class="text until">em até</span>
                    <span class="text parcels">
                        <b>{{ creditcard.parcel | default(creditcard.parcels) }}x</b>
                    </span>
                    <span class="text of">de</span>
                    <span class="text parcel-price">
                        <b>{{ creditcard.parcel_price | currency }}</b>
                    </span>
                    {% if not creditcard.has_interest and creditcard.interest <= 0 %}
                        <span class="text interest">sem juros</span>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endif %}
</div>