<div class="product-price-request mt-5">
    {% if is_ajax and not product.kit %}
		{% if product.attribute|length > 0 and product.attribute_secondary|length > 0 %}
            {% include "product-attribute-secondary.twig" %}
        {% else %}
            {% include 'product-attribute.twig' %}
    	{% endif %}
	{% endif %}

	{% set msg = "O preço deste produto é informado sob consulta" %}

	{% if shop.customer_register_for == 'view_prices' %}
    	{% set msg = '<span class="view-price-link" onclick="event.stopPropagation(); event.preventDefault(); location.href=\'/login\';">Entre</span> ou <span class="view-price-link" onclick="location.href=\'/cadastro\';">cadastre-se</span> para visualizar o preço' %}
	{% endif %}

    <div class="product-price-request-info p-3 text-center">{{ msg | raw }}</div>

    <button class="product-price-request-btn btn mt-3 w-100" data-grid-id="{{ product.grid_id }}">
		Consultar preço
	</button>

    <div class="product-price-request-modal-{{ product.grid_id }}" data-modal-title="Informe seus dados para que possamos entrar em contato">
        <form 
			class="form pl-5 pr-5 pb-5" 
			action="{{ 'product-request' | action ('add') }}" 
			method="post"
		>
			<input type="hidden" name="form_type" value="product_request">
			<input type="hidden" name="variation_id" value="{{ product.variation.id }}">
			
			<div class="w-100 d-flex flex-wrap">
				<label class="label w-100 text">Nome</label>
				<input type="text" name="name" class="pl-2 pr-2 input w-100" value="{{ customer.name }}" required>
			</div>

			<div class="w-100 d-flex flex-wrap mt-3">
				<label class="label w-100 text">E-mail</label>
				<input type="email" name="email" class="pl-2 pr-2 input w-100" value="{{ customer.email }}" required>
			</div>

			<div class="w-100 d-flex flex-wrap mt-4">
				<label class="label w-100 text">Whatsapp</label>
				<input id="phone" type="tel" name="phone" class="pl-2 pr-2 input w-100" value="" required minlength="14" maxlength="15">
			</div>

			<div class="w-100 mt-3">
				<button class="btn w-100" style="height: auto;">Solicitar contato</button>
			</div>
		</form>
    </div>
</div>

{% javascript %}
		$(function() {
			$('body').delegate('#phone', 'keydown', function(e) {
				var input = $(e.target);
				var x = input.val();

				if (input.val().length <= 15) {
					x = x.replace(/\D/g, '').match(/(\d{0,2})(\d{0,5})(\d{0,4})/);
					input.val(!x[2] ? x[1] : '(' + x[1] + ') ' + x[2] + (x[3] ? '-' + x[3] : ''));
				}
			});
		});
	{% endjavascript %}