{# <form class="cv-form" action="{{ 'cart' | action ('add') }}" method="post">
    <input type="hidden" name="redirect" value="cart">
    
    <div class="product-card-loader">
        <div class="loader"></div>
    </div> #}

    {# <div class="cv-colors">
        {% for color in product.colors %}
            <div class="cv-color" data-url="{{ color.url }}">
                <i style="background-color: {{ color.hexadecimal }}; background-image: url({{ color.image | img_url() }});"></i>
            </div>
        {% endfor %}
    </div>

    <div class="cv-variations"></div>

    <input type="hidden" name="variation_id" value=""> #}

    {# <script>console.log({{ product | json_encode | raw }});</script>
</form> #}