{% if product.balance <= 0 and not product.selling_out_of_stock %}
    {% set text = 'Avise-me' %}

    <div class="product-buy text-center col-12">
        <button onclick="location.href='{{ product.url }}';" class="btn product-buy-button w-100 no-stock">
            {{ text }}
        </button>
    </div>
{% else %}
    <form 
        id="form-add-cart" 
        name="form_add_cart"
        class="d-flex flex-wrap w-100 dc-quantity"
        method="post" 
        action="{{ 'cart' | action ('add') }}"
        dc-quantity
        data-action="button"
        data-min="0"
        data-max="{{ (product.max_quantity > 0) ? product.max_quantity : product.balance }}"
    >
        <input type="hidden" name="redirect" value="cart">

        <div class="{% if cards >= 4 or col == 3 %}col-12 mb-3{% else %}col-12 col-md-6 mb-3 mb-md-0{% endif %} position-relative">
            <button 
                aria-label="dc-decrease"
                class="dc-quantity-button decrease position-absolute" dc-quantity-decrease type="button">
                <i class="icon">{{ 'img/dc-icons/minus.svg' | svg }}</i>
            </button>

            <input 
                aria-label="dc-input" 
                dc-quantity-input 
                type="number" 
                class="input m-0 w-100 text-center" 
                name="quantity" 
                value="1" 
                min="0" 
                max="{{ (product.max_quantity > 0) ? product.max_quantity : product.balance }}"
            >

            <button 
                aria-label="dc-increase"
                class="dc-quantity-button increase position-absolute" dc-quantity-increase type="button">
                <i class="icon">{{ 'img/dc-icons/plus.svg' | svg }}</i>
            </button>
        </div>

<<<<<<< HEAD
        <div class="product-buy text-center {% if cards >= 4 or col == 3 %}col-12{% else %}col-12 col-md-6{% endif %}">
            <button type="submit" class="btn product-buy-button h-100 w-100" dc-quantity-submit>
=======
        <div class="product-buy text-center {% if cards >= 4 or col == 3 %}col-12{% else %}col-12 col-xl-6{% endif %}">
            <button type="submit" class="btn product-buy-button w-100" dc-quantity-submit>
>>>>>>> 4a40b4a8cd2483895e6946d232c48737f6378c55
                {{ text }}
            </button>
        </div>

        {% include 'product-card-action/modal.twig' %}
    </form>
{% endif %}
