<div class="pcbuilder-product-detail" id="pcbuilder-detail-{{ id }}">
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-12">
                <div class="pcbuilder-modal-title row align-items-center justify-content-between">
                    <div class="col text-left">
                        <div class="py-3 px-2">
                            <h2 class="h1 m-0">{{ item.name }}</h2>
                        </div>
                    </div>
                    <div class="pcbuilder-modal-close" data-modal-id="pcbuilder-detail-{{ id }}">
                        <i class="icon">{{ 'img/dc-icons/close.svg' | svg }}</i>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="p-4 text-center">
                    <img class="pcbuilder-detail-image img-fluid" src="{{ item.image.src }}">
                </div>
            </div>
            <div class="col-12 h-100">
                {% if item.description %}
                    <div class="p-4 text-left h-100">
                        <div class="cms h-100">
                            {{ item.description | raw }}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>