{% set sidebarSettings = theme.sections.sidebar.settings ?: null %}
{% set sidebarCustom = sidebarSettings.sidebar_custom ?: null %}
{% set sidebarCustomIds = null %}

{% if sidebarSettings.sidebar_ids %}
    {% set sidebarCustomIds = sidebarSettings.sidebar_ids|split(',') %}
{% endif %}

{% set colors = sidebar.filters.colors %}

{% if sidebarCustom and sidebarCustomIds|length > 0 %}
    {% set colors = [] %}
    {% for color in sidebar.filters.colors %}
        {% if color.id not in sidebarCustomIds %}
            {% set colors = colors|merge([color]) %}
        {% endif %}
    {% endfor %}
{% endif %}

{% set color_type = section.settings.filter_color_type ?: 'list' %}

{% if colors and colors|length > 0 %}
    <div class="sidebar-block sidebar-block--color">
        <div class="sidebar-block__header">
            <span class="close"></span>
            <h2 class="h2 m-0">Cores</h2>
        </div>
        <div class="sidebar-block__content" dc-scroll>
            <ul class="sidebar-block__list {{ color_type }}">
                {% for item in colors %}
                    <li class="sidebar-block__item {% if item.filter_active %}is-active{% endif %}">
                        <a href="{{ item.id | url_params ('color', 'append') }}" class="link" rel="nofollow">
                            <span style="{% if item.image %}background-image: url({{ item.image | img_url }});{% endif %}{% if item.hexadecimal %}background-color: {{ item.hexadecimal }};{% endif %}" class="icon"></span>
                            <h3 class="text">{{ item.name }}</h3>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endif %}
