{% set components = product.components %}
{% set groups = product.component_groups %}
{% set order = section.settings.order ?: 'group' %}
{% set variation_select_type = section.settings.variation_select_type ?: 'select' %}
{% set individual_buy = section.settings.buy_individual_products %}
{% set individual_price = section.settings.show_price_individual_products %}

{% if components|length > 0 %}
    <form id="form-add-cart-custom" name="form_add_cart" class="customize-product" method="post" action="{{ 'cart' | action ('add') }}" data-url="{{ product.url }}">
        
        {% if theme.settings.customize_position_customize != "before_buy" %}
            {% include 'section-title.twig' %}
        {% endif %}

        <input type="hidden" name="redirect" value="cart">
        <input type="hidden" name="variation_id" value="{{ product.variation.id }}">
        <input type="hidden" name="quantity" value="1">
        
        <div class="customize-product-loader">
            <div class="loader-bg">
                <span class="loader"></span>
            </div>
        </div>

        <div class="customize-product-ajax">
            {% if theme.settings.customize_position_customize != "before_buy" %}
                {% include "customize-product/custom-ajax.twig" %}
            {% else %}
                {% include "customize-product/custom.twig" %}
            {% endif %}
        </div>

        {% for component in components %}
            {% include 'customize-product-modal.twig' with { 'id': component.product_component_id } %}
        {% endfor %}

        <button type="submit" id="buy-kit" class="d-none"></button>
    </form>
    {% include "scripts/customize-product.twig" %}

    {% if individual_buy %}
        {% javascript %}
            $(function() {
                {% if theme.settings.product_cart_add_redirect == 'not_redirect' %}
                    var modal = $('.cart-redirect-modal').modal();
                    var loader = $('.product-buy-loader');

                    // Criar o html do carrinho atualizado
                    var createCartTemplate = function(data) {
                        var formatter = new Intl.NumberFormat('pt-BR', {
                            style: 'currency',
                            currency: 'BRL',
                        });

                        var html = '';

                        if (data) {
                            html += '<div class="container">';
                                html += '<div class="row justify-content-center">';
                                    html += '<div class="col-12 p-3 text-center">';
                                        html += '<span class="text ">Últimos produtos adicionados</span>';
                                    html += '</div>';
                                    html += '<div class="col-12" style="border: solid .1rem {{ color_border | default(theme.settings.color_border) }};  border-width: .1rem 0;">';
                                        for (var i=0; i<data.items.length; i++) {
                                            var item = data.items[i];
                                            html += '<a href="'+ item.url +'" class="col-12 d-flex align-items-center justify-content-start pt-3 pb-3">';
                                                html += '<div class="nav-cart-thumb text-center mr-3">';
                                                    if (item.image) {
                                                        html += '<img class="img-fluid" src="'+ item.image.src +'" alt="' + item.name +'">';
                                                    }
                                                html += '</div>';
                                                html += '<div>';
                                                    html += '<span class="w-100 text">' + item.name + '</span>';
                                                    html += '<div class="price d-flex align-items-center mt-2">';
                                                        if (item.total > 0.00) {
                                                            if (item.compare) {
                                                                html += '<span class="compare">'+ formatter.format(item.compare) +'</span>';
                                                            }
                                                            html += '<span class="price-final">'+ formatter.format(item.price) +'</span>';
                                                        } else {
                                                            html += '<span class="price-final">Brinde</span>';
                                                        }
                                                    html += '</div>';
                                                html += '</div>';
                                            html += '</a>'
                                        }
                                    html += '</div>';
                                    
                                    html += '<div class="col-12 p-3">';
                                        html += '<a href="{{ 'cart' | url }}" class="btn w-100">ir para o carrinho</a>';
                                    html += '</div>';
                                html += '</div>';
                            html += '</div>';
                        }

                        return html;
                    };

                    // Atualizar os elementos do carrinho
                    var updateCart = function(data) {
                        var cart = $('.nav-cart');
                        if (cart.length > 0) {
                            cart.each(function() {
                                var _this = $(this);
                                var badge = _this.find('.nav-badge');
                                
                                badge.empty();
                                badge.append('<span class="text">' + data.quantity + '</span>');

                                if (data.items.length > 0) {
                                    var dropdown = _this.find('.nav-cart-dropdown');
                                    var tpl = createCartTemplate(data);

                                    dropdown.empty();
                                    dropdown.append(tpl)
                                }
                            });
                        }
                    };
                    
                    var btn_continue = $('.cart-redirect-continue');
                    var btn_checkout = $('.cart-redirect-checkout');

                    btn_continue.on('click', function() {
                    	loader.fadeOut();
                        modal.close();
                    });

                    btn_checkout.on('click', function() {
                        window.location.href = location.origin + '/carrinho';
                    });
                {% endif %}

                $('body').delegate('.customize-individual-buy', 'click', function(e) {
                    e.preventDefault();
                    e.stopPropagation();

                    {% if theme.settings.product_cart_add_redirect == 'not_redirect' %}
                        loader.fadeIn();
                    {% endif %}
                    
                    var component = $(this).parents('.customize-product-component');
                    var form = $(this).parents('.customize-individual-form');
                    var name = $(this).data('variation');
                    var variation_id = component.find("[name='" + name +"']").val();
                    var hasAttributeButtons = component.find('.customize-product-buttons');
                    var quantity = component.find('.dc-input').val();

                    if (hasAttributeButtons && hasAttributeButtons.length > 0) {
                        variation_id = hasAttributeButtons.find('.active input').val();
                    }

                    var url = '{{ 'cart' | action ('add') }}';
                    var xhr = _dcs.Xhr(url);

                    $(this).find('span').css('opacity', '0');
                    $(this).find('.product-action-buy-loader').fadeIn();

                    xhr.post({
                        data: {
                            variation_id: variation_id,
                            quantity: (quantity > 0) ? quantity : 1,
                        }
                    }).done(function(res) {
                        {% if theme.settings.product_cart_add_redirect == 'not_redirect' %}
                            updateCart(res);

                            $('.modal').each(function() {
                                $(this).fadeOut();
                            });

                            modal.open();

                            loader.fadeOut();
                            $('.product-action-buy-loader').fadeOut();

                            $('.customize-individual-buy').find('span').css('opacity', '1');
                        {% else %}
                            var url_redirect = window.location.origin + '/carrinho';
                            window.location.href = url_redirect;
                        {% endif %}
                    });
                });
            });
        {% endjavascript %}
    {% endif %}
{% endif %}

<div class="customize-product-modalbg"></div>

{% schema %}
{
    "name": "Kit de produtos",
    "settings": [
        {
            "type": "header",
            "content": "Aparência"
        },
        {
            "type": "text",
            "id": "title",
            "label": "Título",
            "default": "Produtos do kit"
        },
        {
            "type": "text",
            "id": "subtitle",
            "label": "Subtítulo"
        },
        {
            "type": "select",
            "id": "order",
            "label": "Ordenação de produtos",
            "default": "group",
            "options": [
                {
                    "value": "group",
                    "label": "Primeiro produtos agrupados"
                },
                {
                    "value": "no_group",
                    "label": "Primeiro produtos sem grupos"
                }
            ]
        },
        {
            "type": "select",
            "id": "variation_select_type",
            "label": "Estilo de seleção das variações",
            "default": "select",
            "options": [
                {
                    "value": "select",
                    "label": "Lista"
                },
                {
                    "value": "buttons",
                    "label": "Botões"
                }
            ]
        },
        {
            "type": "checkbox",
            "id": "buy_individual_products",
            "label": "Permitir venda avulsa dos produtos",
            "default": 0
        },
        {
            "type": "checkbox",
            "id": "show_price_individual_products",
            "label": "Exibir preço de cada produto do kit",
            "default": 0
        }
    ]
}
{% endschema %}