{% if app %}
    <div class="buy-together">
        <div class="buy-together__container">
            <div class="buy-together__loader"><span class="loader"></span></div>
            <div class="buy-together__header">
                <h3 class="title">Aproveite e compre junto</h3>
            </div>
            <div class="buy-together__content" data-url="{{ app.item.url_rewrite | url }}">
            {% ajax 'buy-together' %}
                <div class="buy-together__col buy-together__col--product">
                    <div class="product">
                        <figure class="product__image">
                            {% if app.item.image %}
                                <img src="{{ app.item.image | img_url ('320x320') }}" alt="{{ app.item.name }}">
                            {% else %}
                                {{ 'bottle' | placeholder_svg ('320x320') }}
                            {% endif %}
                        </figure>
                        <div class="product__info">
                            <h3 class="product__title">
                                {{ app.item.name }}
                            </h3>

                            <input type="hidden" name="id_product" value="{{ app.item.id_product }}">
                            {% if app.item.colors %}
                                <ul class="product__color">
                                    {% for color in app.item.colors %}
                                        <li class="product__color__item">
                                            <label class="label" title="{{ color.name }}">
                                                <input class="input" type="radio" required value="{{ color.id_color }}" name="id_color"{% if color.selected %} checked{% endif %}>
                                                <i class="icon" style="background-color:{{ color.hexadecimal }}; {% if color.image %}background-image: url({{ color.image | img_url ('40x40+crop_center') }}){% endif %}"></i>
                                                <span class="text">{{ color.name }}</span>
                                            </label>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}

                            {% if app.item.attributes.values %}
                                <div class="form-group form-group--select">
                                    <div class="select">
                                        <select class="product__attribute__item" name="id_variation">
                                            <option disabled selected>Selecione</option>
                                            {% for attribute in app.item.attributes.values %}
                                                <option value="{{ attribute.id_variation }}" {% if attribute.selected %}selected{% endif %}>{{ attribute.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            {% else %}
                                <input type="hidden" name="id_variation" value="{{ app.item.id_variation }}">
                            {% endif %}

                            {% if app.item.balance > 0 and app.item.price > 0 %}
                                <div class="product__price">
                                    {% if app.item.payments and app.item.price_compare > 0 %}
                                        <div class="product__price__discount">
                                            <span class="price">{{ app.item.price_compare | currency }}</span>
                                        </div>
                                    {% endif %}
                                    <div class="product__price__total">
                                        <span class="price">{{ app.item.price | currency }}</span>
                                    </div>
                                </div>
                            {% else %}
                                <div class="product__out-of-stock">
                                    Infelizmente o estoque deste item acabou :(
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="buy-together__col buy-together__col--products">
                    <i class="icon icon--left">
                        {{ 'img/dc-buy-together/plus.svg' | svg }}
                    </i>
                    <div class="buy-together__list">
                        {% for product in app.items %}
                            <div class="product product--secondary">
                                <figure class="product__image">
                                    {% if product.image %}
                                        <img src="{{ product.image | img_url ('70x70') }}" alt="{{ product.name }}">
                                    {% else %}
                                        {{ 'bottle' | placeholder_svg ('70x70') }}
                                    {% endif %}
                                </figure>
                                <div class="product__info">
                                    <h3 class="product__title">
                                        {{ product.name }}
                                    </h3>

                                        <input type="hidden" name="id_product" value="{{ product.id_product }}">
                                        {% if product.colors|length > 1 %}
                                            <ul class="product__color">
                                                {% for color in product.colors %}
                                                    <li class="product__color__item">
                                                        <label class="label">
                                                            <input class="input" type="radio" required value="{{ color.id_color }}" name="id_color_{{ product.id_product }}"{% if color.selected %} checked{% endif %}>
                                                            <i class="icon" style="background-color:{{ color.hexadecimal }}; {% if color.image %}background-image: url({{ color.image | img_url ('40x40+crop_center') }}){% endif %}"></i>
                                                            <span class="text">{{ color.name }}</span>
                                                        </label>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        {% endif %}

                                        {% if product.attributes.values %}
                                            <div class="form-group form-group--select">
                                                <div class="select">
                                                    <select class="product__attribute__item" name="id_variation">
                                                        <option disabled selected>Selecione</option>
                                                        {% for attribute in product.attributes.values %}
                                                            <option value="{{ attribute.id_variation }}" {% if attribute.selected %}selected{% endif %}> {{ attribute.name }} </option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                        {% else %}
                                            <input type="hidden" name="id_variation" value="{{ product.id_variation }}">
                                        {% endif %}

                                    {% if product.balance > 0 and product.price > 0 %}
                                        <div class="product__price">
                                            {% if product.payments and product.price_compare > 0 %}
                                                <div class="product__price__discount">
                                                    <span class="text">{{ product.price_compare | currency }}</span>
                                                </div>
                                            {% endif %}
                                            <div class="product__price__total">
                                                <span class="price">{{ product.price | currency }}</span>
                                            </div>
                                        </div>

                                        <div class="product__check">
                                            <label class="label">
                                                <input class="input product__check__item" type="checkbox" name="selected" {% if product.selected %}checked{% endif %}>
                                                <i class="icon">{{ 'img/dc-icons/check-bold.svg' | svg }}</i>
                                                Comprar junto
                                            </label>
                                        </div>
                                    {% else %}
                                        <div class="product__out-of-stock">
                                            Infelizmente o estoque deste item acabou :(
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <i class="icon icon--right">
                        {{ 'img/dc-buy-together/equal.svg' | svg }}
                    </i>
                </div>
                <div class="buy-together__col buy-together__col--action">
                    <form class="buy-together__action" name="form_add_cart" method="post" action="{{ 'cart' | action ('add') }}">
                        <input type="hidden" name="redirect" value="cart">
                        {% for item in app.selected if (item.id_variation and item.selected) %}
                            <input type="hidden" name="items[][id_variation]" value="{{item.id_variation}}">
                        {% endfor %}
                        <div class="price__discount">
                            <span class="text">de {{ app.price_compare | currency }}</span>
                        </div>
                        <div class="price__final">
                            {% if app.price_compare %}
                                <span class="text">por</span>
                            {% endif %}
                            {% if app.payments.billet.discount %}
                                {{ app.payments.billet.total | currency }}
                            {% else %}
                                {{ app.price | currency }}
                            {% endif %}
                        </div>
                        {% if app.payments.creditcard %}
                            <div class="price__installment">
                                {% if app.payments.billet.discount %}
                                <span class="price">ou {{ app.payments.creditcard.total | currency }}</span>
                                {% endif %}
                                {% if app.payments.creditcard.parcel > 1 %}
                                    <span class="installments">
                                        em {{ app.payments.creditcard.parcel }}x de <span class="price">{{ app.payments.creditcard.parcel_price | currency }}</span>
                                        {% if app.payments.creditcard.interest == 0 %}
                                        <span class="interest">sem juros</span>
                                        {% endif %}
                                    </span>
                                {% endif %}
                                no cartão
                            </div>
                        {% endif %}
                        {% if app.discount_price or app.payments.billet.discount_price %}
                        <div class="price__billet-discount">
                            {% if app.payments.billet.discount_price %}
                            <span class="text">Economize {{ (app.discount_price + app.payments.billet.discount_price) | currency }} no boleto</span>
                            {% elseif app.discount %}
                            <span class="text">Economize {{ app.discount_price | currency }}</span>
                            {% endif %}
                        </div>
                        {% endif %}
                        <button type="submit" class="bt bt--lg bt--buy bt--buy-together" {% if not app.valid %}disabled{% endif %}>
                            adicionar ao carrinho
                        </button>
                    </form>
                </div>
            {% endajax %}
            </div>
        </div>
    </div>
{% endif %}